.main {
    display: flex;
    width: 1140px;
    margin: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.leftSide {
    width: 366px;
    display: flex;
    flex-direction: column;

}

.rightSide {
    width: 744px;
    display: flex;
    flex-direction: column;
}


.counter {
    display: flex;
}

.contacts {
    display: flex;
}


