.main {
    display: flex;
    width: 1140px;
    margin: 0;
}

.leftSide {
    width: 374px;
    display: flex;
    flex-direction: column;

}

.rightSide {
    width: 744px;
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
}

.counter {
    display: flex;
}

.contacts {
    display: flex;
}


