.main {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: 714px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.mainWait {
    border: solid 1px #CDCDCD;
}

.mainActive {
    border: solid 1px #4198C5;
}

.icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.title {
    display: flex;
    text-align: left;
    color: var(--unnamed, #161718);
    font-family: 'SFProDisplay';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}

.dateTime {
    margin-top: 10px;
    display: flex;
    text-align: left;
    color: var(--unnamed, #616F82);
    font-family: 'SFProDisplay';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.activeOnline {
    background-image: url(../../../assets/icons/activeOnline.svg);
    background-repeat: no-repeat;
    background-color: #fff;
}

.waitOnline {
    background-image: url(../../../assets/icons/waitOnline.svg);
    background-repeat: no-repeat;
    background-color: #fff;
}

.waitMeet {
    background-image: url(../../../assets/icons/waitMeet.png);
    background-repeat: no-repeat;
    background-color: #fff;
}

.textBlock {
    padding-left: 10px;
    display: flex;
    flex-direction: column;

}